@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


.dark-mode {
    background-color : #373743;
    background-image: url("pattern-randomized1.svg");
    backdrop-filter: blur(0.7px);
    color: #d7d7e0;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease-in-out;
}

.light-mode {
    background-image: url("pattern-randomizedligth.svg");
    backdrop-filter: blur(1px);
    background-color: #b5b6c4;
    color: #373743;
    transition: color 0.5s ease-in-out;
    transition: background-color 0.5s ease;
}